/src/main/resources/rebel.xml
/.idea
/target
~/log/
vs-boss.iml
*.iml
vs-boss-web/${catalina.home}/
vs-boss-web/disconf/download
*.class
/bin/*


target/
!.mvn/wrapper/maven-wrapper.jar

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

.idea
*.iws
*.iml
*.ipr

nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/


#-----custom-----

.DS_Store
node_modules/
dist/
npm-debug.log
test/unit/coverage
test/e2e/reports
selenium-debug.log

.classpath
.project
.settings/
target/
out/
output/

.idea/
*.iml
logging.path_IS_UNDEFINED/
nohup.out

disconf/
disconf/download
deps_tree.log